@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: linear-gradient(180deg, rgba(225,220,235,1) 0%, rgba(136,176,203,1) 30%, rgba(105,69,168,1) 74%);
    padding: 20px;
    margin: 0px;
    min-height: 100vh;
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    display: flex;
    flex-wrap: wrap;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
    font-size: 25px;
}

#logo{
    cursor: pointer;
}

#logo:hover{
    filter: invert(5);
}

.logo img{
    height: 150px;
    width: 150px;
    
    border-radius: 30px;
}

.frase{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redes{
    display: flex;
    flex-wrap: wrap ;
    gap: 10px;
}

.redes a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px; 
    padding: 3px;
}

.redes a:hover{
    color: white;
    opacity: 70%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    background-color: black;
}

.redes a:hover #githubbtn{
    filter: invert();
}

.degrade{
    
    width: 100%;
    height: 100px;
}

.page{
    width: 100%;
    height: fit-content;
    padding: 20px;

    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px
}

.boas-vindas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
    opacity: 70%;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    max-width: 800px;
}

.selectCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    text-align: center;
}

.woonttBtn{
    background-color: #202020;
    color: white;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    max-width: 435px;
    cursor: pointer;
}

.woonttBtn img {
    width: 435px;
}

.regulargameBtn{
    background-color: black;
    color: white;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    width: 435px;
    cursor: pointer;
}

.regulargameBtn img{
    width: 435px;
}

.registrodecompraBtn{
    background-color: #222e2f;
    color: white;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    width: 435px;
    cursor: pointer;
}

.registrodecompraBtn img {
    width: 435px;
}

.navbuttons button{
    padding: 5px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 10px;

    border-color: white;

    cursor: pointer;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbuttons button:hover{
    background-color: transparent;
    color: white;
}

.woontt, .regulargame, .registrodecompra{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.video-container {
    width: 820px; 
    border-radius: 10px;
    height: 200px;
    position: relative;
    padding-bottom: 56.25%;
    border-radius: 10px;  
    margin-top: 10px;
}
  
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe{
    width: 820px; 
    border-radius: 10px;             
    height: 600px;
}

@media screen and (max-width: 1510px){
    .selectCards{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px){
    #registroiframe{
        max-width: 600px;
        align-self: center;
    }

    .registrodecompra div, .regulargame div, .woontt div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        max-width: 600px;
    }

    .registrodecompra div span, .regulargame div span, .woontt div span{
        max-width: 500px;
    }

    .registrodecompra div a, .regulargame div a, .woontt div a {
        width: fit-content;
    }
}

@media screen and (max-width: 801px){
    .woontt div, .regulargame div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .woontt div button , .regulargame div button{
        width: fit-content;
        align-self: center;
    }
}

@media screen and (max-width: 718px){
    .frase{
        display: flex;
        text-align: center;
    }

    .redes{
        display: flex;
        align-self: center;
    }
}

@media screen and (max-width: 619px){
    .registrodecompra div, .regulargame div, .woontt div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 300px;
    }

    .woontt .video-container{
        align-self: center;
    }

    .registrodecompra div span, .regulargame div span, .woontt div span{
        max-width: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .registrodecompra div a, .regulargame div a{
        width: fit-content;
    }

    .woontt img {
        width: 250px;
    }

    .navbuttons{
        display: flex;
        justify-content: center;
    }

    .registrodecompra, .regulargame, .woontt div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 515px) {
    .redes{
        justify-content: center;
    }

    .selectCards .woonttBtn img {
        width: 300px;
    }

    .selectCards .regulargameBtn img {
        width: 300px;
    }

    .selectCards .registrodecompraBtn img {
        width: 300px;
    }

    .selectCards div {
        max-width: 300px;
    }
}

@media screen and (max-width: 475px){
    .regulargame div img{
        width: 300px;
    }
}

@media screen and (max-width: 359px){
    .frase{
        display: flex;
        text-align: left;
    }
}